*{
    margin: 0;
    padding: 0;
    font-family: "VT323", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

/* style.css */
html{
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: 'VT323', monospace;
    background-color: #000000; 
    color: #ffffff; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode a {
    color: #000000;
}

body.light-mode a:hover {
    color: #697565;
}

a {
    text-decoration: underline;
    color: #ffffff;
}

a:hover {
    color: #697565; 
    text-decoration: underline;
}

.name a {
    color: #FFEA00;
    font-weight: 700;
    text-decoration: none;
    font-size: 50px;
}
body.light-mode .name a{
    color: #FFEA00;
}

.navbar {
    position: sticky; /* Or use fixed */
    top: 0;
    display: flex;
    padding: 20px 0;
    background-color: #000000;
}
body.light-mode .navbar{
    background-color: #ffffff;
}

.nav-elements {
    flex: 1;
    display: block;
    padding:  0 30px;
    align-items: center;
}
body.light-mode .nav-elements{
    background-color: #ffffff;
}

.contact{
    font-size: 30px;
    cursor: pointer;
    flex: 1;
    float: right;
    padding: 5px;
    padding: 0 20px;
    padding-top: 10px;
}
.intro {
    font-size: 50px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding: 0 40px;
}
body.light-mode .intro{
    color: #000000;
}
.dark-mode-toggle {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    float: right;
}

.body {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about {
    height: 300px;
    /* width: 600px; */
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.image-container{
    padding-right: 100px;
}
.image{
    height: 350px;
    width: 350px;
    border-radius: 3%;
    transform: rotate(5deg)
}

.section a {
    font-size: 30px;
    font-weight: bold;
    flex: 1;
}

.section-list span {
    font-size: 30px;
    margin-right: 5px;
}
.section-list span a{
    text-decoration: none;
}
/* .working{
    margin-top: 10px;
}

.working a{
    text-decoration: none;
}  */
.project{
    margin-top: 15px;
}
.project a{
    text-decoration: none;
}

.footer {
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.footer a {
    margin: 0 10px;
    font-size: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
}